<header>
  <nav class="nav">
    <div class="logo">
      <img src="img/logo.png">
    </div>
    <ul>
      <li><a href="/download" class="call-to-action"> Download </a></li>
      <li><a href="/screencasts"> Screencasts  </a></li>
      <li><a href="/documentation"> Documentation  </a></li>
      <li><a href="/started"> Getting Started  </a></li>
      <li><a href="/" class="active"> Home  </a></li>
    </ul>
  </nav>
</header>
