<div class="row">
  <div class="col-2">
    <h1> Overview </h1>
    <form>
      <div class="form-group">
      <input type="text" class="form-control"  placeholder="What're You Looking For?">
      </div>
      <button type="submit" class="btn info">Search Documentation</button>
    </form>
    <ul class="table-of-contents">
      <li> <a href="#started"> Getting Started </a> </li>
      <li> <a href="#templates"> Templates </a> </li>
      <li> <a href="#grid"> Grid </a> </li>
      <li> <a href="#alerts"> Alerts </a> </li>
      <li> <a href="#buttons"> Buttons </a> </li>
      <li> <a href="#forms"> Forms </a> </li>
      <li> <a href="#callout"> Callouts </a> </li>
      <li> <a href="#jumbotron"> Jumbotron </a> </li>
    </ul>
  </div>

  <div class="col-4 last">
    <h1 id="started"> Getting Started </h1>
    <p> Getting started with SprayPaint is easy.  Whether you're a front end ninja or just started designing websites yesterday.  SprayPaint is designed to get you up and running with minimal effort. </p>
    

    <%= erb :'documentation/_alert' %>
    <%= erb :'documentation/_buttons' %>
  </div>
</div>

