<div class="row">
  <div class="col-2">
    <h1> Table Of Contents </h1>
    <form>
      <div class="form-group">
      <input type="text" class="form-control"  placeholder="What're You Looking For?">
      </div>
      <button type="submit" class="btn info">Search Documentation</button>
    </form>
  </div>

  <div class="col-4 last">
    <h1> Documentation </h1>
    <p> Getting started with SprayPaint is easy.  Whether you're a front end ninja or just started designing websites yesterday.  SprayPaint is designed to get you up and running with minimal effort. </p>
    

    <%= erb :'documentation/_alert' %>
  </div>
</div>

