<section class="jumbotron">
  <h1> SIMPLE & AWESOME</h1>
  <h2>A Frontend Framework For Beginners </h2>
  <a href="#" target="_blank" class="btn info emboss">Getting Started</a>
  <p><em> Have Questions? <a href="#" class="sexy"> Read Docs </a></em></p>
</section>

<div class="container">
  <div class="row">
    <div class="col-2 callout">
      <img src="img/spray_paint.png">
      <h3> Easy To Get <span class="sexy"> Started </span></h3>
    </div>
    <div class="col-2 callout ">
      <img src="img/spray_paint.png">
      <h3> Designed To Be <span class="sexy"> Lean </span></h3>
    </div>
    <div class="col-2 last callout">
      <img src="img/spray_paint.png">
      <h3> Develop With <span class="sexy"> Style </span></h3>
    </div>
  </div>
  
  <h1> Alerts: </h1>
  <div class="alert success">
    Successful alert message goes here.
  </div>

  <div class="alert info">
    Congratulation on signing up for something useful
  </div>

  <div class="alert warning">
    Be careful this is your first warning
  </div>

  <div class="alert danger">
    Danger! You are doing something terribly wrong!
  </div>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</div>
