<h1 id="alerts"> Alerts </h1>
  <p>
    Alert boxes are designed to display information to users when they interact with your website.
  </p>
  <p class="notify"> Rendered HTML </p>

  <div class="alert success">
    Successful alert message goes here.
  </div>

  <div class="alert info">
    Congratulation on signing up for something useful
  </div>

  <div class="alert warning">
    Be careful this is your first warning
  </div>

  <div class="alert danger">
    Danger! You are doing something terribly wrong!
</div>

<p class="notify"> HTML </p>
<div class="code-display">
  <%= @html.alert_finished %>
</div>
